*{
    margin: 0; 
    padding: 0%;
    box-sizing: border-box;
    font-family: "Comfortaa";
    }

/*Pagina Home*/

.container {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDF8fGNhZmV8ZW58MHx8fHwxNjc4MTk2ODI4&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
  width: 790px;
  height: 1044px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  opacity: 90%;
  max-width: 100%;
  align-items: center;
  object-fit: contain;
}

.homeDiv {
  position: absolute;
  width: 187px;
  height: 61px;
  left: 102px;
  top: 280px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: white;
}

.buttonLogin {
  box-sizing: border-box;
  font-family: "Comfortaa";
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  position: absolute;
  width: 167px;
  height: 52px;
  left: -84px;
  top: 460px;
  border-radius: 10px;
  text-transform: uppercase;
}

.buttonRegister {
  font-family: "Comfortaa";
  box-sizing: border-box;
  font-family: "Comfortaa";
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  color: white;
  background: black;
  border: 2px solid #000000;
  border-radius: 6px;
  position: absolute;
  width: 167px;
  height: 52px;
  left: 100px;
  top: 460px;
  border-radius: 10px;
  text-transform: uppercase;
}

/* P치gina Login*/

.containerLogin {
  display: flex;
  background-image: url("https://images.pexels.com/photos/15586572/pexels-photo-15586572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: auto;
  height: 1024px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  opacity: 90%;
  max-width: 100%;
  align-items: center;
  object-fit: contain;
}

.homeDivLogin {
  /*WELCOME pagina login */
  position: absolute;
  width: 234px;
  height: 37px;
  left: 128px;
  top: 244px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: white;
}

.homeDivH2 {
  /*subtitulo */
  position: absolute;
  left: 23.65%;
  right: -23.65%;
  top: -19%;
  bottom: 22.5%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

#correo {
  box-sizing: border-box;
  position: absolute;
  width: 343px;
  height: 52px;
  left: 22px;
  top: 341px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
}

#correo::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#clave {
  position: absolute;
  width: 343px;
  height: 52px;
  left: 22px;
  top: 417px;
  border-radius: 5px;
  border: 2px solid #000000;
}

#clave::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

.forgotP {
  position: absolute;
  left: 8%;
  right: -23.65%;
  top: 18%;
  bottom: 22.5%;
  font-family: "Comfortaa";
  font-style: normal;
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: black;
}

.buttonContinue {
  font-family: "Comfortaa";
  box-sizing: border-box;
  font-family: "Comfortaa";
  font-size: 17px;
  font-weight: bold;
  color: white;
  background: black;
  border: 2px solid #000000;
  position: absolute;
  width: 343px;
  height: 52px;
  left: -105px;
  top: 280px;
  border-radius: 5px;
}

.buttonSign {
  position: absolute;
  width: 231px;
  height: 42px;
  left: 25px;
  top: 590px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  align-items: center;
  text-decoration-line: underline;
  color: #760b0b;
  text-align: center;
}

.lineaOr {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 30%;
  /* border: 1px solid #1bb286;*/
  left: 170px;
  font-size: 20px;
  margin-top: 300px;
}

/*lineaOr::after, lineaOr::before { // lineas de dise침o
content: '';
mask-position: absolute;
width: 120px;
height: 3px;
background-color: black;
}

.lineaOr::before {
left: -140px;
}

.lineaOr::after{
  right: -140px;
  }
*/

/*.buttonHome { //boton google?
  box-sizing: border-box;
  font-family: "Comfortaa";
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  position: absolute;
  width: 167px;
  height: 52px;
  left: -84px;
  top: 460px;
  border-radius: 10px;
  text-transform: uppercase;
}/*

/* Pagina REGISTER */
.containerRegister {
  margin: 0 auto;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1582298538104-fe2e74c27f59?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDF8fGZyaWVuZHMlMjBkcmlua2luZyUyMGNvZmZlZXxlbnwwfHx8fDE2NzgzMDY3MzA&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
  width: auto;
  height: 1030px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  opacity: 90%;
  align-items: center;
  object-fit: cover;
}

.homeDivRegister {
  /*subtitulo */
  position: absolute;
  left: 23.65%;
  right: -23.65%;
  top: -35%;
  bottom: 22.5%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: black;
}

#correoRegister {
  box-sizing: border-box;
  position: absolute;
  width: 343px;
  height: 52px;
  left: 22px;
  top: 290px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
}

#correoRegister::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#nombre {
  box-sizing: border-box;
  position: absolute;
  height: 52px;
  width: 343px;
  left: 22px;
  top: 350px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
}

#nombre::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#claveRegister {
  box-sizing: border-box;
  position: absolute;
  height: 52px;
  width: 343px;
  left: 22px;
  top: 410px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
}

#claveRegister::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#confirmPassword {
  box-sizing: border-box;
  position: absolute;
  height: 52px;
  width: 343px;
  left: 22px;
  top: 470px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
}

#confirmPassword::placeholder {
  position: relative;
  left: 3%;
  right: 75.51%;
  top: 0%;
  bottom: 32.69%;
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

.buttonSignUp {
  font-family: "Comfortaa";
  box-sizing: border-box;
  position: fixed;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background: black;
  border: 2px solid #000000;
  width: 343px;
  height: 52px;
  left: 20px;
  top: 540px;
  border-radius: 6px;
}

.frase {
position: absolute;
width: 299px;
height: 42px;
left: -67px;
top: 950px;
font-family: 'Comfortaa';
font-style: normal;
font-weight: bolder;
font-size: 15px;
line-height: 17px;
display: flex;
align-items: center;
text-align: justify;
color: white;
text-decoration: underline;
}


/*codigos nos servir치n para que sean responsives en diferentes equipos
tablet*/
@media (max-width: 1024px) {
}

/*codigos nos servir치n para que sean responsives en diferentes equipos :)
computador*/
/*@media (min-width: 1200px) {
}*/