* {
  font-family: "Comfortaa";
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Pagina Home*/

.container {
  position: relative;
  background: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDF8fGNhZmV8ZW58MHx8fHwxNjc4MTk2ODI4&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 90%;
}

.homeDiv {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.buttonLogin {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 40%;
  padding: 1em;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  background: #ffffff;
  border: 20% solid #000000;
    /* 
  font-size: 58%;
  font-weight: bold; */
}

.buttonRegister {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 40%;
  padding: 1em;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

/* Página Login*/

.containerLogin {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

}

.containerLogin::before {
  z-index: -1;
  content: "";
  background-image: url("https://images.unsplash.com/photo-1582298538104-fe2e74c27f59?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDF8fGZyaWVuZHMlMjBkcmlua2luZyUyMGNvZmZlZXxlbnwwfHx8fDE2NzgzMDY3MzA&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.logoCaffee {
  display: block;
  width: 100%;
  height: 7em;
  text-align: center;
  object-fit: contain;
  margin-top: 20%;
}

.homeDivLogin {
  /*WELCOME pagina login */
  margin-top: 10%;
  display: block;
  width: 100%;
  height: 1em;
  font-size: 1.7em;
  font-weight: bold;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.homeDivH2 {
  /*subtitulo */
  display: block;
  width: 100%;
  height: 1em;
  font-size: 1.3em;
  color: black;
  text-align: center;
}

#correo {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-block-end: 6%;
  margin-block-start: 3%;
}

#correo::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#clave {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
}

#clave::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

.forgotP {
  width: 100%;
  height: 1em;
  text-decoration: underline;
  font-weight: bold;
  font-size: 15px;
  margin-block-start: 2.1%;
  color: white;
  cursor: pointer;
}

.buttonContinue {
  width: 100%;
  height: 52px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background: black;
  border: solid #000000;
  border-radius: 5px;
  margin-block-start: 4%;
  cursor: pointer;
}

.buttonSign {
  /* dont have an account, sing up */
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-block-start: 3%;
  cursor: pointer;
}

.lineaOr {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgb(197, 195, 195);
}

/* Pagina REGISTER */
.containerRegister {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.containerRegister::before {
  z-index: -1;
  content: "";
  background-image: url("https://images.unsplash.com/photo-1582298538104-fe2e74c27f59?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDF8fGZyaWVuZHMlMjBkcmlua2luZyUyMGNvZmZlZXxlbnwwfHx8fDE2NzgzMDY3MzA&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}


.homeDivRegister {
  /*subtitulo */
  display: block;
  font-weight: bold;
  width: 100%;
  height: 1em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

#correoRegister {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-block-start: 3%;
}

#correoRegister::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#nombre {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-block-end: 2%;
  margin-block-start: 3%;
}

#nombre::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#claveRegister {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-block-end: 2%;
  margin-block-start: 1%;
}

#claveRegister::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

#confirmPassword {
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #000000;
  margin-block-end: 3%;
  margin-block-start: 1%;
}

#confirmPassword::placeholder {
  width: 100%;
  padding: 1em;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  text-align: justify;
}

.or {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgb(197, 195, 195);
}

.buttonSignUp {
  width: 100%;
  height: 52px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background: black;
  border: solid #000000;
  border-radius: 5px;
  margin-block-start: 4%;
  cursor: pointer;
}

.buttonGoogle {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 4em;
  bottom: 0%;
}

.imgGoogle {
  position: absolute;
  left: 4%;
  top: 1%;
  height: 100%;
}

.textGoogle {
  font-family: "Roboto-Medium";
  font-weight: lighter;
  font-size: 17px;
  color: rgb(57, 57, 58);
  cursor: pointer;
}

.frase {
  width: 100%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-block-start: 3%;
  cursor: pointer;
}


/*codigos nos servirán para que sean responsives en diferentes equipos
cel-tablet*/
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {
  .logoCaffee {
    margin-top: 10%;
  }

  @media only screen and (min-device-width: 390px) {
    .logoCaffee {
      margin-top: 25%;
    }
  }
}

/*codigos nos servirán para que sean responsives en diferentes equipos :)
tablet*/
@media only screen and (min-device-width: 768px) {
  .containerLogin {
    padding: 0% 20% 0% 20%;

  }

  .containerRegister {
    padding: 0% 20% 0% 20%;

  }

  .logoCaffee {
    margin-top: 30%;
  }
}

/*codigos nos servirán para que sean responsives en diferentes equipos :)
computador*/
@media only screen and (min-device-width: 852px) {
  .containerLogin {
    padding: 0% 30% 0% 30%;
  }

  .containerRegister {
    padding: 0% 30% 0% 30%;
  }

  .logoCaffee {
    margin-top: 10%;
  }
}

/* .containerRegister {
    height: auto;
  } */